
/* light mode*/
/* removing default spacing */
* {
    border-spacing: border-box;
    margin: 0;
    padding: 0;
}
/* all the paragraphs to be in center*/
p {
    text-align: center;

}
/* Header design*/
header {
    background-color: white;
    display: flex;
    padding: 10px;


}
/*main design*/
main 
{
    background-color: lightgray;
    border-color: lightgray;
    padding: 0;
    text-align: center;

}
/*footer design*/
footer{text-align: center;}

/*table design*/
table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 20px, 20px;
}
/*button in lightmode settings*/
button {
    margin-left: 574px;

    background-color: black;


    border-radius: 4px;

}
/*linking lightmode to darkmode anchor*/
#a1 {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 25px
    
}
/* logo settings*/
img {
    width: 175px;
    margin-left: 161px;
}

/* border colors*/
th,td, #light{
    border: 1px solid black;
    
}

/*dark theme */
/*Header background*/
#des {
    background-color: rgb(40, 40, 40)
}
/*main and footer background*/
#des,main {
    margin: 0;
}
/*white text of top statement and copyrights*/
.line {
    color: white;
}

/*white color to border and data of the table*/
.t2{
    border: 1px solid white;
    color: white;
}

/*background of footer*/
.h101 {
    background-color: rgb(33, 33, 33);
}

/*setting of button in darkmode*/
#btn{
    margin-left: 574px;
    background-color: white;
    border-radius: 4px;
}
#a2{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 25px
}